<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="/styles/managerdashboard.css">
</head>
<body>

    <div id="content">

        <h1>Manager Dashboard</h1>

        <button id="ordersBtn" onclick="viewPreviousOrders()">Previous Orders</button>
        <button id="inventoryBtn" onclick="goToInventory()">Inventory</button>
        <button id="staffBtn" onclick="goToStaff()">Staff</button>
        <button id="logoutBtn" onclick="goToMain()">Logout</button>

    </div>

    <script src="/scripts/managerdashboard.js"></script>
</body>
</html>