<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports Page</title>
    <link rel="stylesheet" href="/styles/reports.css">
</head>
<body>

    <div id="header">

        <h1>Reports</h1>

    </div>

    <div id="content">

        <button id="x-reportBtn">X-Report</button>
        <button id="z-reportBtn">Z-Report</button>
        <button id="logoutBtn" onclick="goToManagerDashboard()">Exit</button>

        <script src="/scripts/reports.js"></script>
    </div>

    <script src="/scripts/speaktext.js"></script>
</body>
</html>
