<!DOCTYPE html>
<head>
   <title>Staff</title>
</head>
<body>
   <h1>Staff</h1>

   <% for (var i in staffMembers) {%>
    <p>Emplyee Name: <%=staffMembers[i].name%>, Employee ID: <%=staffMembers[i].staffid%>, Role: <%=staffMembers[i].position%><p>
    <% } %>

   <script>
        
   </script>
</body>