body {
    background-color: #061D40;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 75vh;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.textBesideButton {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coloredText {
    color:#145DA0
}

.button, .cartButton {
    background-color: #145DA0;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #1D72C2;
}

#cartItems {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
    text-align: left;
    
}

#cartTotal {
    font-size: 24px;
    margin-top: 10px;
}

#checkoutButtons, #paymentOptions {
    position: absolute;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkoutButtons {
    visibility: visible;
}
  
#paymentOptions {
    visibility: hidden;
}

#loginButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
