@keyframes invalidFlash {
    0% { background-color:  white; outline: 0.2rem solid black;}
    25% { background-color:  red; outline: 0.2rem solid black;}
    50% { background-color: white; outline: 0.2rem solid black; }
    75% { background-color: red; outline: 0.2rem solid black;}
    90% { background-color: transparent; outline: none; }

}


body {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    background: #FAF3E0;
    color: #5C4033;
}

header {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 0;
    text-align: center;
    background: #D9A06C;
    box-shadow: 0px 4px 8px rgba(92, 64, 51, 0.2);
}

h1 { 
    margin: 0;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#cart-btn {
    margin-left: auto;
    border: none;
    border-radius: 8px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    background: #FAF3E0;
    color: #B36B4F;
    transition: all 0.3s ease-in-out;
}

#cart-btn:hover {
    color: white;
    background: #B36B4F;
  }

#phone-input { border-right : none; flex: 1;}
#name-input {border-right: none; flex: 1;}
#customer-login {row-gap: 10vh;}
#submit-btn, #register-btn {width: 30%;}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: auto;
    background-color: #4b3621;
    cursor: pointer;
    width: 5vw;
    font-size: 5em;
    color: white;
    font-weight: bold;
}
.panel:hover {
    box-shadow: inset 1rem 1rem 1rem white;
}
#customer-signup {
    grid-template-columns: 30% 70%;
    row-gap: 1vh;
}
.signup-login {
    display: grid; 
    grid-template-columns: 30% 70%;
    font-size: 1.5em;
    margin-top: 10vh;
    align-items: center;

}
.signup-login h2 {
    margin: 0;
    align-self: center;
}
.signup-login input {
    border-radius: 8px;
    padding: 1rem 1rem;
    font-size: 1.5em;
    border: 0.2rem solid gray;
}
.signup-login button {
    border-radius: 8px;
    font-size: 1.5em;
    padding: 1rem 1rem;
    border: 0.2rem solid black;
    background-color: #D9A06C;
    color: white;
}
#make-account-button, #login-account-button {
    border-radius: 8px;
    flex-grow: 1;
    align-self: center;
    background-color: black;
    color: white;
}

#redeem-btn {
    width: 60%;
    height: 5vh;
    font-size: 1.5em;
    background-color: #4b3621;
    border : 0.1rem solid black;
    color: white;
    cursor: pointer;
}
#redeem-btn:hover {
    box-shadow: 0.3rem 0.3rem 2rem  pink;
    transition: box-shadow 1s ease;
}
#drinks {
    width: 60%;
    font-size: 1.5em;
    font-weight: bold;
}

#pearls-balance {
    color: black;
    font-size: 1em;
    border: 0.3em solid black;
    font-weight: bold;
    padding: 1vh 3vw;
}


#drinks-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
    font-size: 1em;
}

.drink-grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    z-index: 0;

}
.drink-grid-element:hover {
    background-color: white;
    cursor:pointer;
    outline: 0.2rem solid black;
    color: black;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.drink-grid-element.invalid {
    animation: invalidFlash 2s ease;
}

.drink-img {width: 70%; border: 0.5rem solid black;}
.drink-name {margin-top: 1rem; text-align: center; font-weight: bold;}

