body {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: auto;
}

#content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 75%;
    height: fit-content;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #a0522d;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

tr {
    border-bottom: solid darkgray 1px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

tr:hover {
    background-color: lightgray;
}

#content table button {
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

#content table input {
    width: 100%;
}

#editcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

#editcontent button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

#goBackBtn {
    background-color: #f44336;
}

#addMemberBtn {
    background-color: green;
}

#editStaffBtn {
    background-color: orange;
}

#cancelEditBtn {
    background-color: darkgray;
}

/*-------------------------------------New staff member form-------------------------------------*/

#newMemberPopup {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#newMemberPopupContent {
    width: fit-content;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #FAEBD7;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}

#newMemberTitle {
    text-align: center;
    margin-top: 0;
}

#newMemberName, #newMemberPosition, #setEmail {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#nameLabel, #positionLabel, #emailLabel {
    margin-right: 5px;
}

#nameInput, #emailInput {
    border-color: black;
    border-radius: 5px;
}

#addNewEmpBtn, #cancelAddBtn {
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
    font-size: larger;
    padding: 5px;
}

#addNewEmpBtn {
    background-color: green;
}

#cancelAddBtn {
    background-color: red;
}

#submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

